<app-header titulo="Cards"></app-header>


<ion-content padding>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="pin"></ion-icon>
      <ion-label>
Marcador
      </ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit veritatis error minima quibusdam, repellendus necessitatibus odit architecto totam quo expedita atque commodi voluptas. Harum sunt, architecto quae eius dolore vel.
    </ion-card-content>
  </ion-card>



</ion-content>
