<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Popover</ion-title>
    <ion-button (click)="mostrarPop($event)" slot="end">

  <ion-icon name="finger-print-outline"></ion-icon>

    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="mostrarPop($event)" expand="full">
    <ion-icon name="people-circle-outline" slot="start"></ion-icon>
    <ion-label>Popover</ion-label>
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button slot="end">
<ion-button (click)="mostrarPop($event)">
  <ion-icon name="finger-print-outline"></ion-icon>
</ion-button>
    </ion-button>
    <ion-title>Popover</ion-title>
  </ion-toolbar>
</ion-footer>
